#clients img{
    width: 60px;
    height: 50px;
}
#contact-box form{
    width: 80%;
}

#contact h1{
    font-size: 1.4rem;
}

#contact-box input, #contact-box textarea{
    font-size: 1.1rem;
}
.form-group{
    margin: 1px;
}